@layer typography {
  html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Inter, Helvetica, Arial, sans-serif;
  }
}

@layer colors {
  :root {
    --color-white: white;
    --color-neutral: gainsboro;
    --color-accent: magenta;
  }
}

@layer space {
  :root {
    --size-1: 4px;
    --size-2: 40px;
  }
}
